html,
body {
  padding: 0;
}

body {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

a {
  color: #3b78ff;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #0f49ca;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

table td,
table th {
  text-align: left;
  vertical-align: top;
}

.media-alt-header{
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 6px;
}