.has-hero .hero{
  margin: -68px auto 0;
  padding-top: 68px;
  padding-bottom: 0;
  @media screen and (min-width: 769px){
    padding-top: 110px;
    position: relative;
  }

  .hero-body{
    @media screen and (min-width: 769px){
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 80px;
    }    
  }

  .hero__subheading{
    color: #6A7183;
    font-weight: 400;
    line-height: 1.4
  }

  .hero-buttons{
    margin: 0;
    .button{
      font-size: 1rem;
      height: 42px;
      padding-left: 18px;
      padding-right: 18px;       
      @media screen and (min-width: 769px){
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1;
        height: 53px;
        padding-left: 24px;
        padding-right: 24px;      
      } 
    }

    .is-black{
      background: rgba(0,0,0,0.15);
    }
    .is-white{
      border-color: #e8f4ff;
      box-shadow: 0 4px 7px -3px rgba(92, 96, 107, 0.05);
      &:hover{
        background: #fff;
        color: $pc-blue;
        border-color: #e8f4ff;
        box-shadow: 0 6px 8px -3px rgba(92, 96, 107, 0.07);
      }
    }
    .is-primary{

    }
    .nudge-right{
      margin-left: 12px;
    }
  }
}

.hero .app-icon{
  height: 54px;
  @media screen and (min-width: 769px){
   height: 64px;
  }
  width: 247px;
  margin-bottom: 30px;
}

.has-hero .hero .columns{
  @media screen and (max-width: 1087px){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  .column-image{
    @media screen and (min-width: 1088px){
      justify: flex-end;
      text-align: right;
      padding: 0;
    } 
  }

  .column-text{
    @media screen and (max-width: 768px){
      padding-left: 0;
      padding-right: 0;
      h1{
        max-width: 500px;
      }
    } 
  }
}

.has-hero .hero-body{

  @media screen and (min-width: 769px){
    h1{
      font-size: 4.2rem;
    }
  }
}

//
.navbar-is-scrolling.has-hero .hero{
  padding-bottom: 84px; //Add padding to offset navbar being removed from the flow
}


//Themeing
//=================================================================
//=================================================================
.hero-is-light .hero{

}

.hero-is-reversed .hero{
  color: #fff;
}

//Hero Gradients
.check-ins .hero{@include gradient--chi;}
.giving .hero{@include gradient--giv;}
.groups .hero{@include gradient--gro;}
.music-stand .hero{@include gradient--mus;}
.people .hero{@include gradient--peo;}
.registrations .hero{@include gradient--reg;}
.resources .hero{@include gradient--res;}
.services .hero{@include gradient--ser;}
.home .hero{background: #F8FBFF;}

//Hero Button Colors
.check-ins .hero .hero-buttons .is-white{color: $check-ins-color}
.giving .hero .hero-buttons .is-white{color: $giving-color}
.groups .hero .hero-buttons .is-white{color: $groups-color}
.music-stand .hero .hero-buttons .is-white{color: $music-stand-color}
.people .hero .hero-buttons .is-white{color: $people-color}
.registrations .hero .hero-buttons .is-white{color: $registrations-color}
.resources .hero .hero-buttons .is-white{color: $resources-color}
.services .hero .hero-buttons .is-white{color: $services-color}