.app-page .hero{
  color: #fff;
  @media screen and (min-width: 768px){
    padding-top: 110px;
    position: relative;
    margin: -68px auto 0;
  }

  .hero-body{
    @media screen and (min-width: 768px){
      padding-bottom: 80px;
    }    
  }

  .hero-buttons{
    .button{
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      height: 53px;
      padding-left: 24px;
      padding-right: 24px;      
    }

    .is-white{
      color: #5a9424;
    }

    .is-black{
      background: rgba(0,0,0,0.15);
      margin-left: 12px;
    }
  }
}

.app-page .hero-body{

  @media screen and (min-width: 768px){
    h1{
      font-size: 4.2rem;
    }
  }
}

//
.navbar-is-scrolling.app-page .hero{
  padding-bottom: 84px; //Add padding to offset navbar being removed from the flow
}

.services .hero{
  @include linear-gradient(-45deg, #64952F, #6BB13D);
}

