.check-ins{
  $app-color: #672c99;
}

$check-ins-color: #876096;
$church-center-color: #129dbb;
$giving-color: #F2B327;
$groups-color: #FB7642;
$music-stand-color: #4278E3;
$people-color: #4278E3;
$registrations-color: #41998E;
$resources-color: #CC4F3E;
$services-color: #6DA030;
