.check-ins{
  $app-color: #672c99;
}

$check-ins-color: #672c99;
$church-center-color: #129dbb;
$giving-color: #f9bd37;
$groups-color: #e35c1a;
$music-stand-color: #1069bd;
$people-color: #0f5bcc;
$registrations-color: #0d948c;
$resources-color: #b13325;
$services-color: #5a992c;
