.app-page .hero{
  color: #fff;
  @media screen and (min-width: 768px){
    padding-top: 110px;
    position: relative;
    margin: -68px auto 0;
  }

  .hero-body{
    @media screen and (min-width: 768px){
      padding-bottom: 80px;
    }    
  }

  .hero-buttons{
    .button{
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      height: 53px;
      padding-left: 24px;
      padding-right: 24px;      
    }

    .is-white{
      color: #5a9424;
    }

    .is-black{
      background: rgba(0,0,0,0.15);
      margin-left: 12px;
    }
  }
}

.app-page .hero-body{

  @media screen and (min-width: 768px){
    h1{
      font-size: 4.2rem;
    }
  }
}

.services .hero{
  background: #6baf3d; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #6baf3d 0%, #669c33 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #6baf3d 0%,#669c33 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #6baf3d 0%,#669c33 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

