//Flex helpers
.d-f{
  display: flex;
}

.d-f\@palm{
    @media screen and (min-width: 769px){
        display: flex;
    }
}

.ai-c{
  align-items: center;
}

.jc-c{
  justify-content: center;
}

.f-1{
  flex: 1;
}

.is-flex-961{
  @media screen and (min-width: 961px){
    display: flex;
  }
}

.columns--flip-sides{
  flex-direction: row-reverse;
}

//Show / Hide
.show-only-on-touch{
  @media screen and (min-width: 1088px) {
    display: none;    
  }
}

//Typography
.ta-r{
  text-align: right;
}

.has-text-white{
  color: #fff;
}

// Lists
.branded-ul{
  li{
    position: relative;
    padding-left: 18px;
  }
  li:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0.55em;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid $pc-blue;
  }
}

.inline-links li{
  display: inline-block;
}


//Positioning
.absolute{position: absolute;}
.relative{position: relative;}
.top-0{top: 0;}
.bottom-0{bottom: 0;}

//Visual
.is-borderless{
  border: 0 !important
}

//Box Layout
.mb-0{
  margin-bottom: 0 !important;
}
