//Flex helpers
.d-f{
  display: flex;
}

.d-f\@palm{
    @media screen and (min-width: 768px){
        display: flex;
    }
}

.ai-c{
  align-items: center;
}

.f-1{
  flex: 1;
}

.columns--flip-sides{
  flex-direction: row-reverse;
}

//Typography
.ta-r{
  text-align: right;
}

// Lists
.branded-ul{
  li{
    position: relative;
    padding-left: 18px;
  }
  li:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0.55em;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid $pc-blue;
  }
}

.inline-links li{
  display: inline-block;
}


//Positioning
.absolute{position: absolute;}
.relative{position: relative;}
.top-0{top: 0;}
.bottom-0{bottom: 0;}