//Override Bulma defaults
.navbar-dropdown{
  border: 0; //1px solid hsla(222, 8%, 90%, 1)
  font-size: 0.875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 999991;
  @media screen and (min-width: 1088px){
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 7px 21px hsla(0, 0%, 4%, 0.1), 0 1px 2px hsla(0, 0%, 4%, 0.1);
    .navbar-item {
      padding-bottom: 0.6rem;
    }
  }
}

.topbar .navbar-dropdown{ 
  .media-left{
    @media screen and (max-width: 1087px){
      margin-right: 8px;
    }
  }
  .app-name{
    font-size: 1.3rem;
    font-weight: 900;
    opacity: 0.9;
  }
  .app-tagline{
    font-size: 0.85rem;
    opacity: 0.7;
    @media screen and (max-width: 1087px){
      display: none;
    }    
  }
  [title~="icon"] {
    font-size: 1.9rem;
    position: relative;
    @media screen and (min-width: 1088px){
      font-size: 2.6rem;
    }
  }
  [title~="check-ins-app"] {
    color: $check-ins-color;
  }
  [title~="giving-app"] {
    color: $giving-color;
  }  
  [title~="groups-app"] {
    color: $groups-color;
  }
  [title~="people-app"] {
    color: $people-color;
  }  
  [title~="registrations-app"] {
    color: $registrations-color;
  }
  [title~="resources-app"] {
    color: $resources-color;
  }  
  [title~="services-app"] {
    color: $services-color;
  }  
  [title~="music-stand-app"] {
    color: $music-stand-color;
  }
}

//Add-on styling
.navbar-dropdown .navbar-item.add-on{
  @media screen and (min-width: 1088px){  
    position: relative;
    padding-left: 72px;
    padding-top: 0.6rem;
    .media-left{
      margin-right: 8px;
    }
    [title~="icon"]{
      font-size: 1.7rem;
    }
    .app-name{
      font-size: 1.2rem;
    }
  }  
}

//Themeing
.check-ins .hero{@include gradient--chi;}
.giving .hero{@include gradient--giv;}
.groups .hero{@include gradient--gro;}
.music-stand .hero{@include gradient--mus;}
.people .hero{@include gradient--peo;}
.registrations .hero{@include gradient--reg;}
.resources .hero{@include gradient--res;}
.services .hero{@include gradient--ser;}

.mobile-menu-close{
   display: none; 
}

//Mobile
@media screen and (max-width: 1087px){

  .mobile-menu-close{
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    background: #ebebeb;
    z-index: 9999;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;       
  }

  .navbar-brand, .navbar-tabs{
    position: relative;
    z-index: 2;
  }

  .navbar.navbar-is-shown .navbar-menu{
    display: block;
  }

  .navbar.navbar-is-shown{
    .navbar-menu{
      position: fixed;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
      background: #fff;
      z-index: 999;
      max-height: 100%;
      box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.7);
      border-radius: 8px;
      color: #000;
    }

    .navbar-dropdown{
      background: transparent;
      box-shadow: none;
      position: relative;

      .navbar-item{
        display: flex;
      }
    }

    .navbarTextOptions{

    }

    .navbar-start, .navbar-end{
      display: block;
    }

  }
}