@import "global-topbar-dropdown";

.navbar.topbar{
  position: relative;
  z-index: 9992;
  font-weight: 700;
  width: 100%;
  top: 0;
  min-height: 55px;
  margin-bottom: 0 !important;
  @media screen and (min-width: 1088px){
    min-height: 68px;
  }    

  a{
    text-decoration: none !important;  
  }
}

.navbarTextOptions{
  @media screen and (min-width: 1088px){
      flex: 1;
      justify-content: center !important;
  }  
}

.navbar.topbar > .container{
  min-height: 55px;
  display: flex;
  width: 100%;
}

.navbar.topbar,
.navbar.app-page-nav{
  > .container{align-items: center;}
}

.navbar-mobile-trigger{
  display: none;
  @media screen and (max-width: 1087px){
    display: block;
  }
  margin-left: auto;
  margin-right: 10px;
  border: 0;
  background: transparent;
  color: rgba(105, 106, 130, 0.9);
}

//TOPBAR
.navbar-brand{
  min-height: 1em;
}

.topbar {
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(251, 251, 251, 0);
  .pc-logo-color{
    width: 196px;
    height: 28px;
  }
  .pc-logo-mono{
    // hide the mono logo
    display: none;
    fill: #fff;
    width: 163px;
    height: 24px;    
  }
  .navbar-brand{
    @media screen and (max-width: 1087px){
      display: flex;
      width: 100%;
    }    
  }
}

.navbar-is-scrolling {
  nav.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(251,251,251,1);
  }
}

//The navbar (TOPBAR) state on product pages 
.app-page .topbar,
.app-page .topbar.js-navbar-is-shown{
  .pc-logo-color{
    // hide the color logo
    display: none;
  }
  .pc-logo-mono{
    // show the mono logo
    display: block;
  }
}

//The navbar (TOPBAR) state on product pages BEFORE scrolling
.app-page.navbar-is-top .topbar{
  @media screen and (min-width: 1088px) {
    .navbar-start > a,
    .has-dropdown > a,
    .navbar-end > a {
      color: #fff;
      border-radius: 3px;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .navbar-mobile-trigger{
    color: #fff;
  }  
}

//The navbar state on product pages AFTER scrolling
.app-page.navbar-is-scrolling .topbar{
  .navbar-menu-container > a,
  .has-dropdown > a,
  .navbar-end > a{
    @media screen and (min-width: 1088px){
      font-size: 14px;
      color: rgba(105, 106, 130, 0.9)
    }
  }
  background: #fbfbfb;
  top: 0;
  height: 55px;
  min-height: 20px;

  .pc-logo-mono{
    fill: rgba(106, 113, 131, 0.7);
    width: 117px;
    height: 18px;
  }
  .navbar-mobile-trigger{
    @media screen and (min-width: 1088px){
      color: rgba(105, 106, 130, 0.9);
      font-size: 14px;
    }
  }  
}