.app-page .hero{
  color: #fff;
  @media screen and (min-width: 768px){
    padding-top: 110px;
    position: relative;
    margin: -68px auto 0;
  }
}

.app-page .hero-body{
  @media screen and (min-width: 768px){
    h1{
      font-size: 5rem;
    }
  }
}

.services .hero{
  background: #6baf3d; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #6baf3d 0%, #669c33 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #6baf3d 0%,#669c33 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #6baf3d 0%,#669c33 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

