//BUTTONS
.button{
  transition: all 0.2s ease-in-out;
}

.button.is-primary{
  background-size: 100%;
  position: relative;
  z-index: 100;

  border: 0;
  @include linear-gradient(90deg, #3B78FF, #0855FF);
  &:before{
    border-radius: inherit;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    @include linear-gradient(90deg, #0855FF, #0048E8);
    transition: opacity 0.5s ease-out;
    z-index: -100;
    opacity: 0;        
  }  
  &:hover:before{
    opacity: 1;
  }
}

.button-ice{
  padding: 8px;
  height: auto;
  border-radius: 6px;
  color: $pc-blue;
  font-size: 14px;
  font-weight: 800;
  background: #F4FAFF;
  border-color: #DEEFFF;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);

  &:hover{
    border-color: #b8deff;
    color: darken( $pc-blue, 10% );
  }  
}