.section .section-divide-shape{
  width: 100%;
}

.section--content-wrap{
  padding-top: 112px;
  padding-bottom: 112px;
}

.section-header{
  text-align: center;
}

.section-header-underline{
  position: relative;
  margin-bottom: 118px;
  &:after{
    display: block;
    content: '';
    position: absolute;
    bottom: -40px;
    width: 100px;
    height: 5px;
    left: 50%;
    margin-left: -50px;
    background: rgba($pc-blue, 0.1)
  }
  &.is-white:after{
    background: rgba(255,255,255,0.3);
  }
  &.section-header__sub {
    margin-bottom: 118px;
  }
}

.section-header__lead{
  text-transform: uppercase;
  color: hsla(221, 40%, 58%, 0.4);
  font-weight: 700;
  letter-spacing: 0.1em;  
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.section-header__main{
  font-size: 2.4rem;
}

.section-header__sub{
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.9;
  margin-bottom: 40px;
  line-height: 1.4;

  @include bp(from-mobile) {
    margin-bottom: 88px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.has-after-fade.section--brand-color{
  box-shadow: 
  0 -16px 0 #B5CCFF inset, 
  0 -32px 0 #85ABFF inset, 
  0 -48px 0 #5389FF inset;
}

.feature-list{
  .column{
    margin-bottom: 3em;
  }
}

.feature-list__heading{
  font-size: 1.25em;
  display: flex;
  margin-bottom: 1em;
}

.feature-list__body{
  max-width: 80%;
  display: block;
}

.feature-list__icon{
  font-size: 1.1em;
  margin-right: 12px;
}

.feature-list__logo svg{
  height: 35px;
}

//Product page tabs
//=================================================================
.product-tabs{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;  
}

.product-tabs__tabs{
    max-width: 392px;

    @include bp(to-mobile) {
      margin-left: auto;
      margin-right: auto;
    }

  > *{
    border-radius: 7px;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    cursor: default;
    margin-bottom: 0.5em;
  }

  > *:hover{
    background: hsla(221, 100%, 62%, 0.03);
  }

  &.branded-ul li{
    padding-left: 36px;
  }

  &.branded-ul li:before{
    left: 18px;
  }
}

.product-tabs__tabs li:before{
  top: calc(18px + 0.55em);
}

.product-tabs__panel-wrap{
  background-position: 50% 50%;
  background-size: contain;

  &.tab-panel-1{
    background-image: url(../../images/bgs/tab-panel-bg-1.svg);
  }

  .react-tabs__tab-panel{
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    img{
      display: block;
      margin: 0 auto;
      @include bp(from-mobile) {
        max-width: 624px;
      }
    }
  }

  .react-tabs__tab-panel--selected{
    opacity: 1;
  }
}

.product-tabs .react-tabs__tab--selected{
  background: hsla(221, 100%, 62%, 0.08);
}


//Themeing
//=================================================================
//=================================================================
//Section background colors
.section--extra-light-color{background: $extra-light-blue;}
.section--light-color{background: $light-blue;}
.section--high-contrast{@include linear-gradient(90deg, #1E2946, #172E49);}
.section--brand-color{background: $pc-blue;}