.home .hero img{
  max-height: 428px;
}

.home.has-hero .hero{
    padding-bottom: 50px;
}

.home-people-feature-card{
  margin-bottom: 72px;
  padding: 42px 50px;
  @include linear-gradient(90deg, #f5efff, #eff9ff);
  border-radius: 6px;
}

.product-exploration-link{
  .icon-more-arrow{
    transition: all 0.2s ease-in-out;
    width: 14px;
    position: relative;
    top: 0.12em;
    left: 2px;
  }
  &:hover .icon-more-arrow{
    transform: translateX(3px);
  }

}