// Set your brand colors
$blue: #3B78FF;
$white: #FFFFFF;
$dry-concrete: #E3E6EB;
$midnight: #333333;
$wet-concrete: #6A7183;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$grey-dark: $midnight;
$grey-light: $wet-concrete;
$primary: $blue;
$link: $dry-concrete;
$widescreen-enabled: true;
$fullhd-enabled: true;
$section-padding-medium: 7rem 1.5rem;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
// There are some styles in `base` that clobber typogrphy.js
// @import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "minireset-modified.scss";//This reset is modified from the Bulma OG. Load here for proper inheritence 
// @end "~bulma"

// Bulma overrides
.container {
  @media screen and (min-width: 1472px){
      max-width: 1200px;
      width: 1200px;
  }
}
button.is-medium,
button.is-large{
  border-radius: 6px;
}

// @end Bulma overrides    
