.navbar{
  position: relative;
  z-index: 99992;
  font-weight: 700;
  width: 100%;
  top: 0;
  min-height: 68px;
  margin-bottom: 0 !important;

  a{text-decoration: none !important;}
}

.navbarTextOptions{
  @media screen and (min-width: 768px){
      flex: 1;
      justify-content: center !important;
  }  
}